<%= turbo_frame_tag 'modal' do %>
  <dialog open class="modal modal-open" data-controller="modal">
    <div class="modal-box bg-base-100">
      <%= render "mood_logs/modal_form", mood_log: @mood_log %>
    </div>
  </dialog>
<% end %>
