<%= turbo_frame_tag 'modal' do %>
  <dialog open class="modal modal-open" data-controller="modal">
    <div class="modal-box bg-base-100 max-w-md">
      <%= render "reactions/partials/modal_share", context: @context %>
    </div>
  </dialog>
<% end %>

