<footer class="footer footer-center p-2 bg-base-300 text-base-content mt-2 mb-[calc(4rem+env(safe-area-inset-bottom))]">
  <aside>
    <p>© <%= Time.current.year %> kokolog - 心を整える行動記録アプリ</p>
  </aside>
</footer>
