<header class="navbar bg-base-100 shadow-md">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">kokolog</a>
  </div>
  <div class="flex-none gap-2">
    <a href="#" class="btn btn-ghost">ログイン</a>
    <a href="#" class="btn btn-primary">新規登録</a>
  </div>
</header>
