<div
  data-controller="modal"
  data-action="click->modal#close"
  class="modal-overlay hidden fixed inset-0 z-50 bg-black/40 flex justify-center items-center"
>
  <div
    data-modal-target="content"
    data-action="click->modal#stopPropagation"
    class="relative w-full max-w-md bg-base-100 shadow-2xl rounded-2xl p-8 space-y-6"
  >
    <%= turbo_frame_tag "modal_content",
                        data: { action: "turbo:frame-load->modal#open" } do %>
    <% end %>
  </div>
</div>
