<div class="space-y-2">
  <% progresses.each do |progress| %>
    <div class="flex justify-between items-center text-sm">

      <div class="flex items-center gap-1">
        <%= progress.habit.category&.icon %>
        <%= progress.habit.name %>
      </div>

      <div class="text-xs text-base-content/60">
        <% if progress.achieved? %>
          達成
        <% else %>
          <%= progress.total_value %> / <%= progress.target_value %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
