<div class="flex items-center justify-center w-full">
  <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
              flex items-center justify-center text-center">
    <p class="text-sm text-base-content/60">
      <%= "今日の#{msg}はまだありません。" || "まだありません。" %>
    </p>
  </div>
</div>
