<div class="swiper-slide">
  <div class="h-64 overflow-y-auto pr-1">
    <!-- ログカード一覧 -->
    <!-- ログがない場合の表示 -->
    <div id="<%= dom_id_prefix %>_empty" class="space-y-2">
      <% if habits.count == 0 %>
        <%= render "home/partials/empty_card_home", msg: "習慣ログ" %>
      <% end %>
    </div>

    <!-- ログカード -->
    <div id="<%= dom_id_prefix %>" class="space-y-2">
      <% if habits.present? %>
        <% habits.each do |habit| %>
          <%= render "home/partials/card_habit_home", habit: habit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
