@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  default: "light";
}

@layer components {
  .swiper {
    width: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    width: 100%;
    flex-shrink: 0;
  }

  .swiper-pagination {
    @apply mt-3 flex justify-center gap-2;
  }

  .swiper-pagination-bullet {
    @apply h-2 w-2 rounded-full bg-base-300 transition;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary;
  }
}
