<div class="w-full max-w-md mx-auto p-4">
  <section class="card bg-base-100 shadow-sm border-l-2 border-primary/60" data-controller="toggle-form">
    <div class="card-body space-y-2">

      <!-- タイトル＆戻るボタン -->
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">行動登録</h2>

        <% back = request.referer %>
        <% back = nil if back == request.url %>

        <button
          type="button"
          class="btn btn-outline btn-xs flex items-center gap-1"
          onclick="window.location = '<%= back || habits_path %>'">
          <%= heroicon "arrow-uturn-left", variant: :outline, options: { class: "w-4 h-4" } %>
          戻る
        </button>
      </div>

      <%= render "habits/partials/form", habit_form: @habit_form %>

    </div>
  </section>
</div>
