<%= turbo_frame_tag 'modal' do %>
  <dialog open class="modal modal-open" data-controller="modal">
    <div class="modal-box bg-base-100 max-w-md">
      <%= render "habits/partials/modal_show", habit: @habit %>
    </div>
  </dialog>
<% end %>

